.header{
	font-size: 20px;
	background: linear-gradient(to right, #dfbbfb, #b4b6fc);
	background-color: purple;	
	padding: 40px;
	margin-top: -10px;
	margin-left: -20px;
	margin-right: -8px;
	height: 75px;

}
.nameText{
	color: white;
	font-size: 30px;
	text-decoration: none;
}
.links{
	flex: 1;
	width: 100%;
	display: flex;
	flex-direction: row;
}
.nameDiv{
	flex: 1;
	margin-top: 20px;
	padding-left: 100px;
}
.linkDiv{
	flex: 1;
	text-align: right;
	width: 100%;
	gap: 50px;
	margin-top: 30px;
	padding-right: 265px;
}
.linkText{
	color: white;
	font-size: 20px;
	text-decoration: none;
	padding-left: 50px;
}
